@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
  }
  section {
    padding: 20px;
    background-color: #f0f0f0;
    margin-bottom: 20px;
  }

#section1 {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color:white;
    margin-bottom: 20px;
    padding-bottom: 40px;
    padding-top: 40px;
  } 

.banner{
    text-align: justify;
    flex-wrap: wrap;
    height: 550px;
    width: 1200px;
    background-color: #ceaaf3;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.sec1left, .sec1right {
    flex: 1;
}

.sec1left {
    max-width: 40%;
    padding-left: 30px; /* Optional spacing between sections */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.sec1right {
    max-width: 60%;
    padding-left: 1px; /* Optional spacing between sections */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

.sec1right img {
    height: auto;
    width: 110%; /* Ensure the image fills its container */
}

/* Section 2 begins here */

#section2 {
    display: grid;
    padding-top: 40px;
    padding-bottom: 80px;
    padding-left: 200px;
    padding-right: 200px;
    margin-bottom: 20px;
    background-image: url('assets/sec2.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
    background-size: cover; /* Ensure the background image covers the entire element */
    background-position: center; /* Center the background image */
  } 

.grid-container {
    text-align: justify;
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create a 2-column grid */
    grid-gap: 200px;/* Add some gap between grid items */
    grid-row-gap: 10px;
}


/* Section 3 begins here */



#section3 {
    background-color: #ffff;
    display: grid;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 30px;
    padding-bottom:70px;
}

.heading3 {
    text-align: center;
    font-weight: 550;
    font-size: 35px;
    color: #8c34b6;
    margin-bottom: 20px;
}

.grids {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-left: 100px;
    margin-right: 100px;
    grid-row-gap: 50px;
}

.grid-box {
    margin-left: 20px;
    margin-right: 20px;
    display: flex; /* Ensure grid items are displayed in a row */
    align-items: center;
    padding-left: 35px;
    padding-right: 35px;
}

.grid-box img {
    max-width: 20%;
    height: auto;
}

#p3
{
    font-size: 21px;
    text-align: justify;
    padding: 15px;
}

#section5{
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: contain; */
    /* height: 100%; */
    background-image: url('assets/sec5.jpg'); /* Replace 'background-image.jpg' with the path to your background image */
}    

.but{
    margin-top: 180px;
    margin-left: 30%;
    font-size: 25px;
    font-weight: bold;
    border-radius: 20px;
    color: #ffffff;
    background-color: #8c34b6;
    border: #8c34b6;
    border-width: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    box-shadow: 3px 3px 5px rgb(245, 246, 246);

}


/* Testimonial Section begins here */

/* .shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
} */